body {
    margin: 0;
    	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 5%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #36324f;
    padding: 8px 16px;
    text-decoration: none;
}



li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


a.PCF{
	margin: 500px 200px;
}

#button1{
	margin-top: 0rem;
	margin-left: 62.5rem;
	width: 20px;
	height: 10px;
}

#page_center{
	margin: 2px 10px;
	
	
}


