body {
    margin: 0;
	
}
#picture_size{
	max-width: 40%;
	size: 1.25rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #36324f;
    padding: 8px 16px;
    text-decoration: none;
}



li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


a.PCF{
	margin: 500px 200px;
}

#button1{
	margin-top: 0rem;
	margin-left: 62.5rem;
	width: 20px;
	height: 10px;
}

#page_center{
	margin: 2px 10px;
	position: fixed;
	background-color: #BACDD8;
}

preload-01 { background: url(https://s1.328888.xyz/2022/03/24/9jYdA.jpg) no-repeat -9999px -9999px; }
preload-02 { background: url(https://s1.328888.xyz/2022/03/24/9jkCF.png) no-repeat -9999px -9999px; }

